@import '../../../../assets/scss/assureur';

h1 span{
    color: black;
    font-style: italic;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    input {
        display: inline;
        width: 170px;
        border-style: none;
    }
}