<h1 id="page-title">
  <a routerLink="/vue-assureur/basket" routerLinkActive="active"><</a> Vue 360 - <span>n°{{client.id}} -
      {{client.firstName}} {{client.lastName | uppercase}}</span>
      <span id="phone">Appeler<img  src="./../../../../assets/img/phone.png"/></span></h1>
<div class="main">
  <div class="right">
    <section class="line">
      <form [formGroup]="infosPersoForm">
        <h1 (click)="glow()">Infos personnelles</h1>
        <label for="lastName">Nom</label>
        <input formControlName="lastName" type="text" class="form-control" id="lastName" >
        <label for="marriedName" *ngIf="client.marriedName">Nom d'usage</label>
        <input formControlName="marriedName" *ngIf="client.marriedName" type="text" class="form-control" id="marriedName">
        <label for="firstName">Prénom(s)</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName">
        <label for="birthDate">Date et lieu de naissance</label><br>
        <input formControlName="birthDate" type="date" class="form-control" id="birthDate">
         à <input formControlName="birthPlace" type="text" class="form-control" id="birthPlace"><br>
         <label for="maritalStatus">Statut marital</label>
         <input formControlName="maritalStatus" type="text" class="form-control" id="maritalStatus">
      </form>
      <form [formGroup]="coordonneesForm">
        <h1>Coordonnées</h1>
        <label for="phone">Téléphone</label>
        <input formControlName="phone" type="text" class="form-control" >
        <label for="email">Email</label>
        <input formControlName="email" type="text" class="form-control" id="email">
        <label for="addressL1">Adresse :</label>
        <input formControlName="addressL1" type="text" class="form-control" id="addressL1">
        <input *ngIf="addressL2" formControlName="addressL2" type="text" class="form-control" id="addressL2">
        <input *ngIf="addressL3" formControlName="addressL3" type="text" class="form-control" id="addressL3">
        <input formControlName="zipCode" type="text" class="form-control" id="zipCode">
        <input formControlName="city" type="text" class="form-control" id="city">
        <input formControlName="country" type="text" class="form-control" id="country">
      </form>
      <div class="line-bloc">
        <h1>Historique des contacts</h1>
        <ul>
          <li *ngFor="let c of client.history">
            <input type="" value="{{c.dateTime | date: 'dd/MM/yy HH:mm'}}"> - {{c.context}}
          </li>
        </ul>
      </div>
    </section>
    <section class="line">
      <h1>Contrats</h1>
      <div class="line-bloc">
        <h1>Univers Auto</h1>
        <ul>
          <li *ngFor="let c of only('AUTO',client.contracts)">
            {{c.desc}}
          </li>
        </ul>
      </div>
      <div class="line-bloc">
        <h1>Univers habitation</h1>
        <ul>
          <li *ngFor="let c of only('HABITATION',client.contracts)">
            {{c.desc}}
          </li>
        </ul>
      </div>
      <div class="line-bloc">
        <h1>Univers santé</h1>
        <ul>
          <li *ngFor="let c of only('SANTE',client.contracts)">
            {{c.desc}}
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="left">
    <section>
      <div class="line-bloc" id="opportunites">
        <h1>Opportunités</h1>
        <ul>
          <li *ngFor="let o of client.opportunities">
            ({{o.trust}}%) {{o.desc}}
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>