@import '../../../../assets/scss/assureur';

h1 span{
    color: black;
    font-style: italic;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    input {
        display: inline;
        width: 170px;
        border-style: none;
    }
}

label {
    font-size: 1em;
    margin-bottom: 1px;
}

input {
    height: 1.5em;
    background: #f3f1f1;
    font-size: 1.1em;
    border: none;
    &:hover{
        border: 1px solid grey;
    }
}

#birthDate, #birthPlace {
    display: inline-block;
    max-width: 40%;
    margin: 0;
    padding: 0;
}

#phone {
    float: right;
    max-height: 60px;
    img {
        max-width: 60px;
        margin-left: 30px;
    }
}


.glowing {
   -webkit-animation: glowing 4500ms infinite;
   -moz-animation: glowing 4500ms infinite;
   -o-animation: glowing 4500ms infinite;
   animation: glowing 4500ms infinite;
}

@keyframes glowing {
    0% { background-color: white; }
    25% {background-color: #fa1111; }
    75% { background-color: white; }
    100% { background-color: white; }
   
}
/*  0% { font-weight: 400 }
    10% {font-weight: 300 }
    20% {font-weight: 300 }
    30% { font-weight: 400 }
    40% { font-weight: 500 }
    50% {font-weight: 600 }
    60% {font-weight: 700 }
    70% {font-weight: 800 }
    80% {font-weight: 700 }
    90% {font-weight: 600 }
    100% { font-weight: 500 } */