
header, section {
    font-family: 'century-gothic', Verdana;
}

h1#page-title{
    color: darkblue;
    margin: 15px;
}

.line {
    h1 {
       width: 100%; 
    }
    /* flex */
    display: flex;
    flex-flow: row wrap ;
    justify-content:space-around ;
    align-items: flex-start;

    /* forme */
    padding: 10px;
    margin: 10px;
    border-radius: 3px;

    /* STYYYLE */
    background-color: lightblue;
}

form, .line-bloc{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    min-width: 25%;
    flex-grow: 1;
}

input {
    display: block;
}

h1{
    margin: 5px;
}