

header, section {
    font-family: 'century-gothic', Verdana;
    font-size: 1.1em;
}

h1#page-title{
    color: darkblue;
    margin: 15px;
    a {
        margin-right: 60px;
        color: grey;
        &:hover {
            text-decoration: none;
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left {
        width: 25%;
        section {
            width: 100%;
            font-size: 1.2em;
        }
    }
    .right {
        flex-grow: 1;
    }
}

.line, .left {
    h1 {
       width: 100%; 
    }
    /* flex */
    display: flex;
    flex-flow: row wrap ;
    justify-content:space-around ;
    align-items: flex-start;

    /* forme */
    padding: 10px;
    margin: 10px;
    border-radius: 3px;

    /* STYYYLE */
    background-color: lightblue;
}

form, .line-bloc{
    background-color: white;
    box-shadow: 0px 0px 5px -1px #827A7D;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    min-width: 25%;
    flex-grow: 1;
}

input {
    display: block;
}

h1{
    margin: 5px;
}