@import '../../../assets/scss/assureur';
header {
    height: 40px;
    h1 {
        font-size: 30px;
        font-weight: 800;
        margin: 10px;
        text-align: center;
        border-bottom: 1px solid black;
    }
    img {
        display: inline;
        max-height: 40px;
        margin-right: 40px;
        margin-left: -40px;
    }
}
section {
    margin: 0 30px;
}