<header>
  <h1>Vue assureur</h1>
</header>
<section>
  <div>
    <h1>Infos personnelles</h1>
    <form [formGroup]="infosPersoForm">
      <h2></h2>
      <label for="lastName">Nom</label>
      <input formControlName="lastName" type="text" class="form-control" id="lastName" disabled>
      <label for="firstName">Prénom(s)</label>
      <input formControlName="firstName" type="text" class="form-control" id="firstName" disabled>
      <label>Date de naissance</label>
      <label>Lieu de naissance</label>
    </form>
    <div>
      <h2>Coordonnées</h2>
      <label>Adresse</label>
      <p></p>
      <label>Email</label>
      <p></p>
    </div>
  </div>
</section>