  .form-group{
    padding:10px;
    border:1px solid;
    margin:10px;
  }

  .labelfg{
    position:absolute;
    top:-15px;
    left:20px;
    background-color:white;
  }
  
  .inputfg{
    border:none;
  }

.form-control {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.btn.btn-success{
  text-align: right;
}

.glowingphone {
  -webkit-animation: glowingphone 2000ms infinite;
  -moz-animation: glowingphone 2000ms infinite;
  -o-animation: glowingphone 2000ms infinite;
  animation: glowingphone 2000ms infinite;
}

@keyframes glowingphone {
   0% { opacity: 1; }
   25% {opacity: 0; }
   75% { opacity: 0; }
   100% { opacity: 1; }
  
}

.unglow{
  -webkit-animation: glowingphone 2000ms infinite;
  -moz-animation: glowingphone 2000ms infinite;
  -o-animation: glowingphone 2000ms infinite;
  animation: glowingphone 2000ms infinite;

}

@keyframes unglow {
  0% { opacity: 1; }
  25% {opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
 
}