  .form-group{
    padding:10px;
    border:1px solid;
    margin:10px;
  }

  .labelfg{
    position:absolute;
    top:-15px;
    left:20px;
    background-color:white;
  }
  
  .inputfg{
    border:none;
  }

.form-control {
  display: inline-block;
  width: 300px;
  text-align: left;
}