<div class="container-fluid">
  <h1>Outil Gestion</h1>
  <br>
  <br>
  <form (submit)="onSubmit()">

    <div class="row">
      <div class="col-6">
        <div id="Appelant" class="boxed form-group">
          <label for="Appelant" class="labelfg">Appelant</label>
          <label for="nomAppelant">Nom appelant
            <input type="text" class="form-control container-fluid" id="nomAppelant" [(ngModel)]="this.client.lastName"
              [ngModelOptions]="{standalone: true}" required></label>
          <br>
          <label for="prenomAppelant">Prenom appelant
            <input type="text" class="form-control container-fluid" id="prenomAppelant"
              [(ngModel)]="this.client.firstName" [ngModelOptions]="{standalone: true}" required></label>
          <br>
          <label for="telephone">Téléphone
            <input type="text" class="form-control container-fluid" id="telephone" [(ngModel)]="this.client.phone"
              [ngModelOptions]="{standalone: true}" required></label>
        </div>
      </div>
      <div class="col-6">
        <div id="ClientNatureAssistance" class="boxed form-group form-adjust">
          <label for="ClientNatureAssistance" class="labelfg">Client d'IMA - Nature d'assistance</label>
          <label for="clientIMA">Client d'IMA :</label>
          <select id="clientIMA" class="form-control">
            <option>Macif</option>
          </select>
          <br>
          <label for="NatureAss">Nature Ass.:</label>
          <select id="NatureAss" class="form-control">
            <option>General</option>
          </select>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-6">
        <div id="Identification" class="form-group">
          <label for="Identification" class="labelfg">Identification</label>
          <label for="dateDeNaissance">Souscripteur
            <input type="text" class="form-control container-fluid" id="dateDeNaissance"
              [(ngModel)]="this.client.id" [ngModelOptions]="{standalone: true}" required></label>
          <br>
          <label for="lieuDeNaissance">Nom sociétaire
            <input type="text" value="{{client.firstName}} {{client.lastName | uppercase}}"></label>
        </div>
        <br>
        <div class="col-12">
          <div id="ProduitAssistance" class="form-group">
            <label for="ProduitAssistance" class="labelfg">Produit d'assistance</label>
            <label for="produit">Produit:
              <select id="produit" class="form-control">
                <option>Deplacement</option>
              </select></label>
            <br>
            <label for="formule">Formule:
              <select id="formule" class="form-control">
                <option>Ass Vehicule</option>
              </select></label>
          </div>
        </div>
      </div>




      <div class="col-6">
        <div class="form-group" style="border:none; margin:-10px;">
          <div class="col-12">
            <div id="CauseIntervention" class="boxed form-group form-adjust">
              <label for="CauseIntervention" class="labelfg">Cause d'intervention - Date de survenance</label>
              <label for="cause">Cause :
                <select id="cause" class="form-control">
                  <option>Veh.Evenement accidentel</option>
                </select></label>
              <br>
              <label for="detailCause">Détail cause :
                <select id="detailCause" class="form-control">
                  <option>Accident Materiel</option>
                </select></label>
              <br>
              <label for="dateSurv">Date Surv.*:
                <input type="text" class="form-control" id="dateSurv" required></label>
            </div>
          </div>
          <br>
          <div class="col-12">
            <div id="Localisation" class="boxed form-group">
              <label for="Localisation" class="labelfg">Localisation</label>
              <label for="adresse">Adresse:
                <input type="text" class="form-control" id="adresse" required></label>
              <br>
              <label for="ville">Ville :
                <input type="text" class="form-control" id="ville" required></label>
              <br>
              <label for="pays">Pays :
                <input type="text" class="form-control" id="pays" required></label>
              <br>
              <label for="region">Région :
                <input type="text" class="form-control" id="region" required></label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <br><br>

    <div class="row">

      <div class="col-6">

        <div id="IdentificationVehicule" class="form-group">
          <label for="IdentificationVehicule" class="labelfg">Identification du Véhicule</label>
          <label for="marque">Marque :</label>
          <select id="marque" class="form-control">
            <option>Peugeot</option>
            <option>BMW</option>
          </select>
          <br>
          <label for="modele">Modèle :</label>
          <select id="modele" class="form-control">
            <option>308</option>
            <option>Serie 3</option>
          </select>
          <br>
          <label for="genre">Genre :</label>
          <select id="genre" class="form-control">
            <option>VEH.DE TOURISME</option>
            <option>UTILITAIRE</option>
          </select>
        </div>
      </div>

      <div class="col-6">
        <div id="AutresElmts" class="form-group">
          <label for="AutresElmts" class="labelfg">Autres éléments</label>
          <input type="text" class="form-control" required>
          <label for="prediagnostic">Prédiagnostic :</label>
          <select id="prediagnostic" class="form-control">
            <option>XAccdt Veh Immo</option>
          </select>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>

  </form>
</div>