header, section {
    font-family: 'century-gothic', Verdana;
}

section .line {
    /* flex */
    display: flex;
    flex-flow: row nowrap ;
    justify-content:space-around ;
    align-items: flex-start;

    /* forme */
    padding: 10px;
    margin: 10px;
    border-radius: 3px;

    /* STYYYLE */
    background-color: lightblue;
}

form{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

input {
    display: block;
}

h1{
    margin: 5px;
}